/* Estilos generales */
body {
    background-color: rgb(58, 147, 236);
    text-transform: capitalize;
    text-align: center; /* Centra el texto en el cuerpo de la página */
}

/* Estilos para los fieldsets (excepto legend) */
fieldset:not(legend) {
    text-align: left; /* Restaura la alineación izquierda para el contenido del fieldset */
    margin: 0 auto; /* Centra el fieldset en la página */
    width: 50%; /* Ajusta el ancho del fieldset según tus preferencias */
}

/* Agrega este código en tu archivo estilopractica5.css */
fieldset:first-of-type input {
    background-color: blue;
    color: yellow;
}

/* Agrega este código en tu archivo estilopractica5.css */
#otroTipoMusica {
    background-color: rgb(11, 11, 126);
    color: yellow;
}

/* Agrega este código en tu archivo estilopractica5.css */
#tarjeta {
    background-color: blue;
    color: yellow;
}

h1 {
    font-family: Arial;
    color: blue;
}

/* Agrega este código en tu archivo estilopractica5.css */
legend {
    background-color: rgb(55, 199, 207);
    color: white;
}

label {
    font-family: Garamond;
    font-size: 1.2em;
}

/* Estilos para las cajas de texto */
input[type="text"],
input[type="password"] {
    text-transform: uppercase;
    color: yellow;
}

/* Estilos para los botones de envío y borrado */
input[type="submit"],
input[type="reset"] {
    font-family: Garamond, serif;
    font-size: 1.1em;
    background-color: rgb(200, 200, 200);
}

fieldset {
    text-align: center;
    margin: 0 auto;
    width: 50%; /* Ajusta el ancho según tus preferencias */
}

